/* ########################## */
/* UNIVERSAL */
/* ########################## */
html, body {
  font-size: 16px;
  /* font-family: 'Exo', sans-serif; */
  font-family: 'Ovo', sans-serif;

  background-color: #d8d8d8;
  /* background-color: lightblue; */
  color: #4d4d4d;
}

.container {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

/* ########################## */
/* NAV */
/* ########################## */


header {
  width: 100%;
  height: 64px;
  background-color: white;
  /* opacity: .5; */

  position: fixed;
  z-index: 10;
}

.nav.container {
  height: 64px;
  background-color: white;

  align-items: center;
}

.logoGroup {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 24px;
}

.logoGroup:hover {
  cursor:pointer;
}

.logoGroup img {
  height: 32px;
}

.colmar{
  color: #4a4a4a;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
}

.academy {
  color: #999999;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
}

nav {
  display: inline-block;
  /* Total is 24px (16px padding from span and 8px from margin) */
  margin-right: 8px;
}

nav span {
  text-transform: uppercase;
  padding-right: 16px;
  transition: color .4s;
}

nav span:hover {
  color: black;
  cursor:pointer;
}

.mobileNav{
  display: none;
}

@media only screen and (max-width: 740px) {
  .mobileNav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    /* background-color: red; */
  }

  .logoGroup {
    display: none;
  }

  nav {
    display: none;
  }
}

/* ########################## */
/* MAIN CONTAINER */
/* ########################## */
.mainContainer {
  position: relative;
  top: 64px;
  /* background-color: red; */
}

/* ########################## */
/* HERO */
/* ########################## */
.hero.container {

  background-color: #d8d8d8;

  align-items: center;

}

.hero img {
  width: 60%;
  margin: 32px 24px 32px 24px;
}

.CTAContainer {
  padding-right: 50px;
  /* width:40%; */
}

.CTAContainer h1 {
  font-size: 2.15rem;
  font-family: 'Vollkorn', sans-serif;
  /* font-family: 'Muli', sans-serif; */
  font-weight: bolder;
  /* background-color: orange; */
  padding-bottom: 1rem;
}

.CTAContainer h3 {
  /* background-color: lightgreen; */
  font-weight: bold;
  padding-bottom: 2rem;
}

.CTAContainer h4 {
  font-size: 1.0rem;
  width: 50%;
  font-weight: bold;
  color: white;
  background-color: #4d4d4d;
  text-align:center;
  text-transform: uppercase;

  padding: 8px 0 8px;
}


@media only screen and (max-width: 740px) {

  .hero.container {
    flex-direction: column;
  }

  .hero img {
    width: 100%;
    /* margin: 32px 24px 32px 24px; */
  }

  .CTAContainer h4 {

    width: 100%;

  }

  .CTAContainer {
    padding-right: 0px;
    padding-bottom: 24px;
  }

}

/* ########################## */
/* SECTION 1: Practice */
/* ########################## */

.practice.container {
  background-color: white;
}

.leftSide {
  width: 60%;
  margin: 32px 24px 32px 24px;
}

.leftSide img {
  /* margin-top: 32px; */
  margin-bottom: 32px;
  width: 100%;
  /* margin: 32px 24px 32px 24px; */
}

.leftSide h2 {
  /* background-color: hsl(60, 50%, 90%); */
  font-family: 'Vollkorn', sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  padding-bottom: 32px;
}

.leftSide p {
  /* background-color: lightgray; */
  /* background-color: hsl(10, 50%, 90%); */
  width: 80%;
  font-size: .8rem;
  padding-bottom: 32px;
}

.leftSide span {
  /* background-color: lightgray; */
  /* background-color: hsl(90, 50%, 90%); */
  font-size: .667rem;
  padding-bottom: 32px;
}

.rightSide {
  width: 40%;
  padding-top: 16px;
  margin-right: 5px;
}

/* .box:last-child {
  background-color: hsl(0, 0%, 95%);
} */

.box.highlight {
  /* background-color: #d8d8d8; */
  background-color: hsl(0, 0%, 95%);
}


.box {
  display: flex;
  align-items: center;

}


.box img {
  width: 35%;
  /* margin: 16px; */
  padding: 16px;
}

.box h6 {
  font-family: 'Vollkorn', sans-serif;
  font-weight: bolder;
  font-size: 1.25rem;
  padding-bottom: 8px;
}

.box p {
  /* background-color: lightgray; */
  /* background-color: hsl(10, 50%, 90%); */
  /* font-family: 'Vollkorn', sans-serif; */
  font-size: .8rem;
  padding-bottom:8px;
}

.box a {
  color: #4a90e2;
  text-decoration: none;
}

.box img.mobile {
  display: none;
}

@media only screen and (max-width: 740px) {

  .leftSide {
    display: none;
  }
  .box {
    flex-direction: column;
    /* justify-content: center; */
  }


  .box img.mobile {
    display: initial;
    width: 100%
  }

  .box img.desktop {
    display: none;
  }

  .rightSide {


      width: 100%;
      padding-top: 16px;
      margin-left: 16px;
      margin-right: 16px;
      /* margin-right: 5px; */
    }

}

/* ########################## */
/* COURSES */
/* ########################## */
.courses.container {
  /* background-color: hsl(60, 50%, 90%); */
  background-color: #d8d8d8;
  /* width: 1024px;
  margin: 0 auto; */
  display: block;

}

.courses h2 {
  /* background-color: hsl(60, 50%, 90%); */
  font-family: 'Vollkorn', sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.courses .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 72px;
  margin-right: 72px;
}

.course {
  /* background-color: hsl(200, 50%, 90%); */
  background-color: white;
  width: 30%;
  margin-bottom: 32px;
}

.course img {
  width: 100%;
}

.course-content {
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 24px;
}

.course-content h6 {
  font-family: 'Vollkorn', sans-serif;
  font-weight: bolder;
  font-size: 1.25rem;
  /* padding-top: 16px; */
  padding-bottom: 8px;
}

.course-content span {

  /* color: red; */
  display: block;
  padding-bottom: 8px;
}
.course-content p {

}


.courseList {
  display: none;
}


@media only screen and (max-width: 740px) {

  .gallery {
    display: none;
  }
  .courseList {
    display: initial;
  }

}

/* ########################## */
/* THESIS */
/* ########################## */

.thesis.container {
  background-color: white;

  /* align-items: center; */
}

.leftSide {
  width: 60%;
  margin: 32px 24px 32px 24px;
}

.leftSide video {
  /* margin-top: 32px; */
  margin-bottom: 32px;
  width: 100%;
  /* margin: 32px 24px 32px 24px; */
}

.leftSide h2 {
  /* background-color: hsl(60, 50%, 90%); */
  font-family: 'Vollkorn', sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  padding-bottom: 32px;
}

.leftSide p {
  /* background-color: lightgray; */
  /* background-color: hsl(10, 50%, 90%); */
  /* font-family: 'Vollkorn', sans-serif; */
  font-size: .8rem;
  padding-bottom: 32px;
}

.leftSide span {
  /* background-color: lightgray; */
  /* background-color: hsl(90, 50%, 90%); */
  /* font-family: 'Vollkorn', sans-serif; */
  font-size: .667rem;
  padding-bottom: 32px;
}

.rightSide {
  width: 40%;
  padding-top: 16px;
}

/* .box:first-child {
  background-color: #d8d8d8;
} */

/* ########################## */
/* FOOTER */
/* ########################## */
footer {
  margin-top: 36px;
  width 100%
  border-top: 10px solid black;
  background-color: black;
}

.footerContainer {
  width: 1024px;

  margin: 0 auto;
  display: flex;
  align-items: center;
}

.copyright {
  flex-grow: 1;
  color: gray;
  margin-left: 16px;
}

.terms span  {
  display: inline-block;
  padding: 16px;
}

.terms span a {
  color: gray;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .footerContainer {
    width: 100%;

  }
}
